#carouselExampleControls {padding: 5%;}
.view {
    background: url("https://static.tildacdn.com/lib/unsplash/3d0aa4dc-964b-8865-61fd-e922f8862c19/photo.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: #5E786B;
}

.top-nav-collapse {
    background-color: #5E786B;
}
.color_change{
    background-color: #5E786B;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #5E786B;
    }
}
p{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

html,
body,
header,
.view {
    height: 100%;
}
.first__row{
    font-size: 20px;
    
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    
}
.second__row{
    font-weight: 700;
    font-size: 34px;
    font-family: 'Lato', sans-serif;
}
.third__row{
    text-align: center;
    margin-left: 100;
    font-family: 'Lato', sans-serif;
}
.aside__2 { 
    float:right; 
    width: 40%; 
    background-color: #fff; 
    color: black; 
    padding:5px;  
    margin:25px; 
    height:100px; 
margin-top: -20px;
font-family: 'Lato', sans-serif;
} 
.text_1{
    float:left;
    width: 40%;
    background-color: #fff; 
    color: black; 
  
}
.col-md-12{
    justify-content: space-between;
}

.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .card-img-top {
        max-width: 100%;
        height: 200px;
    }   
    
    .card {
        margin-top: 10px;
        margin-bottom: 10px;
        
      
    }
    
    .card {
        font-size: 16px;
      }
      /* на sm */
      @media (min-width: 768px) {
        html {
          font-size: 12px;
        }
      }
      /* на md */
      @media (min-width: 992px) {
        html {
          font-size: 14px;
        }
      }
      /* на lg */
      @media (min-width: 1200px) {
        html {
          font-size: 16px;
        }
      }
      .map-container-3{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        }
        .map-container-3 iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        }